@import './base.css';

#app {
  height: 100%;
  font-weight: normal;
}

.velo_container{
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {

}
