@import './base.css';

#app {
  height: 100%;
  font-weight: normal;
}

.velo_container{
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.velo_section_title{
  font-size: 30px;
  font-weight: bold;
  padding: 80px 0 40px 0;
  text-transform: uppercase;
  position: relative;
}
.velo_empty_line{
  margin:30px 0;
}
.velo_stroke_gray{
  stroke: #374151;
}
.velo_shadow{ box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25); }
.velo_shadow:hover { box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); }

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {

}
